apiVersion: v1
kind: Service
metadata:
  name: gateway
  labels:
    app: gateway
    part-of: herowatch
spec:
  type: LoadBalancer
  selector:
    app: gateway
  ports:
    - name: http
      port: 4040
      targetPort: 4040
