apiVersion: apps/v1
kind: Deployment
metadata:
  name: heroes-ms
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: heroes-ms
          image: ghcr.io/example/heroes-ms:1.0.0
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 1024Mi
